<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>{{::'login.header' | translate}}</h1>
        <form name="loginUserForm" ng-submit="login(loginUserForm.$valid, loginUser)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : loginUserForm.username.$invalid && !loginUserForm.username.$pristine }">
                <label for="username">{{::'login.username' | translate}}</label>
                <input type="text" name="username" id="username" required="required" ng-model="loginUser.username" class="form-control"/>
                <p ng-show="loginUserForm.username.$invalid && !loginUserForm.username.$pristine" class="help-block">{{::'login.username.required' | translate}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : loginUserForm.password.$invalid && !loginUserForm.password.$pristine }">
                <label for="password">{{::'login.password' | translate}}</label>
                <input type="password" name="password" required="required" ng-model="loginUser.password" id="password" class="form-control"/>
                <p ng-show="loginUserForm.password.$invalid && !loginUserForm.password.$pristine" class="help-block">{{::'login.password.required' | translate}}</p>
            </div>
            <button class="btn btn-primary" ng-disabled="loginUserForm.$invalid">{{::'login.btn' | translate}}</button>
        </form>
        <hr/>
        <p>{{::'login.text.register' | translate}} - <a class="btn btn-default btn-xs" href="#!/account/register">{{::'login.btn.register' | translate}}</a></p>
    </div>
    <div class="col-md-4"></div>
</div>