/build/
dist/
jspm_packages/
node_modules/
bower_components/
sublime.sublime-workspace
.sass-cache/
.project
coverage/
reports/
build-instrumented/
build-instrumented-tmp/
.idea/
npm-debug.log
ngConstants.js