/* app css stylesheet */

body {
  margin-top: 60px;
}

.room-list-item:hover {
  cursor: pointer;
}

.current-user-bg {
  background: #f5f5f5;
}

.chat-message {
  padding: 5px;
  border: 1px solid #ccc;
}

.chat-room-heading {
  background-color: #fff !important;
}

.chat-room-panel {
  padding: 1px;
}

.chat-room-panel .media {
  margin-top: 1px;
}

.center {
  text-align: center;
}

.smiles-btn {
  height: 39px;
}

.time {
  font-weight: bold;
}