<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>Register</h1>
        <form name="registerUserForm" ng-submit="register(registerUserForm.$valid, registerUser)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.username.$invalid && !registerUserForm.username.$pristine }">
                <label for="reg-username">Username</label>
                <input type="text" name="username" required="required" ng-minlength="3" ng-maxlength="24" ng-model="registerUser.username" id="reg-username" class="form-control" />
                <p ng-show="registerUserForm.username.$error.minlength" class="help-block">Username is too short.</p>
                <p ng-show="registerUserForm.username.$error.maxlength" class="help-block">Username is too long.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.password.$invalid && !registerUserForm.password.$pristine }">
                <label for="reg-password">Password</label>
                <input type="password" name="password" required="required" ng-minlength="6" ng-maxlength="20" ng-model="registerUser.password" id="reg-password" class="form-control" />
                <p ng-show="registerUserForm.password.$error.minlength" class="help-block">Password is too short.</p>
                <p ng-show="registerUserForm.password.$error.maxlength" class="help-block">Password is too long.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.email.$invalid && !registerUserForm.email.$pristine }">
                <label for="reg-email">Email</label>
                <input type="email" name="email" required="required" ng-model="registerUser.email" id="reg-email" class="form-control" />
                <p ng-show="registerUserForm.email.$invalid && !registerUserForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.name.$invalid && !registerUserForm.name.$pristine }">
                <label for="reg-name">Name</label>
                <input type="text" name="name" ng-maxlength="100" ng-model="registerUser.name" id="reg-name" class="form-control" />
                <p ng-show="registerUserForm.name.$error.maxlength" class="help-block">Name is too long.</p>
            </div>
            <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid">Register</button>
        </form>
        <hr/>
        <p>Login if you already have account - <a class="btn btn-default btn-xs" href="#!/account/login">Login</a></p>
    </div>
    <div class="col-md-4"></div>
</div>