<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1>{{::'register.header' | translate}}</h1>
        <form name="registerUserForm" ng-submit="register(registerUserForm.$valid, registerUser)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.username.$invalid && !registerUserForm.username.$pristine }">
                <label for="reg-username">{{::'register.username' | translate}}</label>
                <input type="text" name="username" required="required" ng-minlength="3" ng-maxlength="24" ng-model="registerUser.username" id="reg-username" class="form-control" />
                <p ng-show="registerUserForm.username.$error.minlength" class="help-block">{{::'register.username.short' | translate}}</p>
                <p ng-show="registerUserForm.username.$error.maxlength" class="help-block">{{::'register.username.long' | translate}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.password.$invalid && !registerUserForm.password.$pristine }">
                <label for="reg-password">{{::'register.password' | translate}}</label>
                <input type="password" name="password" required="required" ng-minlength="6" ng-maxlength="20" ng-model="registerUser.password" id="reg-password" class="form-control" />
                <p ng-show="registerUserForm.password.$error.minlength" class="help-block">{{::'register.password.short' | translate}}</p>
                <p ng-show="registerUserForm.password.$error.maxlength" class="help-block">{{::'register.password.long' | translate}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.email.$invalid && !registerUserForm.email.$pristine }">
                <label for="reg-email">{{::'register.email' | translate}}</label>
                <input type="email" name="email" required="required" ng-model="registerUser.email" id="reg-email" class="form-control" />
                <p ng-show="registerUserForm.email.$invalid && !registerUserForm.email.$pristine" class="help-block">{{::'register.email.valid' | translate}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : registerUserForm.name.$invalid && !registerUserForm.name.$pristine }">
                <label for="reg-name">{{::'register.name' | translate}}</label>
                <input type="text" name="name" ng-maxlength="100" ng-model="registerUser.name" id="reg-name" class="form-control" />
                <p ng-show="registerUserForm.name.$error.maxlength" class="help-block">{{::'register.name.long' | translate}}</p>
            </div>
            <button class="btn btn-primary" ng-disabled="registerUserForm.$invalid">{{::'register.btn' | translate}}</button>
        </form>
        <hr/>
        <p>{{::'register.text.login' | translate}} - <a class="btn btn-default btn-xs" href="#!/account/login">{{::'register.btn.login' | translate}}</a></p>
    </div>
    <div class="col-md-4"></div>
</div>