<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="chat-room-heading panel-heading">
                <div class="media">
                    <div class="col-md-8">
                        <div class="media-left media-top">
                            <a href="javascript:void(0);">
                                <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTZhZWE4OWY2NCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NmFlYTg5ZjY0Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" alt="avatar">
                            </a>
                        </div>
                        <div class="media-body">
                            <h1 class="panel-title">{{roomName}}</h1>
                            <small>{{roomDescription}}</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right">
                            <div class="form-inline">
                                <div class="input-group">
                                    <input type="text" placeholder="{{::'room.messages.search' | translate}}" class="form-control" ng-model="searchTerm" />
                                    <span class="input-group-btn">
                                        <button ng-show="!searchSuccess" class="btn btn-default" type="button" ng-click="search()">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        <button ng-show="searchSuccess" class="btn btn-default" type="button" ng-click="clearSearch()" ng-disabled="!searchTerm">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button class="btn btn-default" data-toggle="modal" data-target=".room-settings" ng-click="onSettingsDialogOpen()">
                                            <span class="glyphicon glyphicon-cog"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body chat-room-panel">
                <div class="col-md-3 pull-right">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#users-collapse" aria-expanded="false" aria-controls="users-collapse" href="javascript:void(0);">
                                        {{::'room.users.header' | translate}}
                                    </a>
                                </h4>
                            </div>
                            <div id="users-collapse" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item" data-ng-repeat="user in roomUsers">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="">{{user.name || user.username}}</span>
                                        <div ng-show="user.id === currentUser.id" class="pull-right room-users-actions">
                                            <a class="label label-info" title="Leave the room" ng-click="removeUserFromRoom(user)">X</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-target="#files-collapse" aria-expanded="false" aria-controls="files-collapse" href="javascript:void(0);">
                                        {{::'room.files.header' | translate}}
                                    </a>
                                </h4>
                            </div>
                            <div id="files-collapse" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-show="roomFiles.length === 0">
                                        {{::'room.files.empty' | translate}}
                                    </li>
                                    <li class="list-group-item" data-ng-repeat="file in roomFiles">
                                        <a href="{{file.location}}" target="_blank">{{file.name}} | {{ file.size/1024/1024|number:2 }} MB</a>
                                        <br/>{{::'room.files.uploaded.by' | translate}}: {{file.user.name || file.user.username}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 pull-left" ng-show="!hasMessages()">
                    <h4 class="center">
                        <div class="label label-primary">
                            {{::'room.message.not.found' | translate}}
                        </div>
                    </h4>
                </div>
                <div class="col-md-9 pull-left center" ng-show="hasMessages()">
                    <div class="btn btn-default btn-xs" ng-click="loadOlderMessages()">
                        <span class="glyphicon glyphicon-menu-up"></span> {{::'room.message.load.more' | translate}}
                    </div>
                </div>
                <div class="col-md-9 pull-left chat-message messages media" data-ng-repeat="message in model.messages" ng-class="{'current-user-bg': isCurrentUser(message.author.id)}">
                    <div class="media-left media-top">
                        <a href="javascript:void(0);">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading author">{{message.author.name || message.author.username}} <small class="time">| {{message.date | date:'shortDate'}} {{message.date|date:'shortTime'}}</small></h5>
                        <span ng-bind-html="message.text | smilies" class="text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <form role="form" class="form-horizontal">
            <div class="input-group">
                <input ng-disabled="!connected" ng-model="::model.input" type="text"
                       placeholder="{{::'room.message.send.text' | translate}}" class="form-control" id="input" autocomplete="off" />
                <span class="input-group-btn">
                    <span class="btn btn-default smiles-btn"
                          smilies-selector="model.input"
                          smilies-placement="left"></span>
                    <label ng-show="uploader.queue.length === 0" class="btn btn-default btn-file">
                        <span class="glyphicon glyphicon-paperclip"></span>
                        <input type="file" style="display: none;" nv-file-select="" uploader="uploader">
                    </label>
                    <span ng-show="uploader.queue.length > 0" class="btn btn-info" ng-repeat="item in uploader.queue">
                        <span class="">
                            <span class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">
                                {{ item.file.name }} | {{ item.file.size/1024/1024|number:2 }} MB
                                <span ng-click="item.remove()" class="glyphicon glyphicon-remove-circle"></span>
                            </span>
                        </span>
                    </span>
                    <button class="btn btn-primary" ng-click="send()">
                        {{::'room.send' | translate}}
                    </button>
                </span>
            </div>
        </form>
    </div>

    <div class="modal room-settings" tabindex="-1" role="dialog" aria-labelledby="roomSettings">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{::'room.settings.header' | translate}}: {{roomName}}</h4>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:void(0);" data-target="#users" data-toggle="tab" aria-expanded="false">
                            {{::'room.settings.tabs.users' | translate}}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-target="#details" data-toggle="tab" aria-expanded="true">
                            {{::'room.settings.tabs.details' | translate}}
                        </a>
                    </li>
                </ul>
                <div class="modal-body">
                    <div id="roomSettingsTabsContent" class="tab-content">
                        <div class="tab-pane active in" id="users">
                            <div class="form-group">
                                <label for="users">{{::'room.settings.users.add' | translate}}</label>
                                <input type="text" name="users" ng-model="selectedUser" typeahead-editable="false"
                                       uib-typeahead="user.name || user.username for user in allUsers | filter:$viewValue | limitTo:10"
                                       typeahead-template-url="users-autocomplete-tpl.html" typeahead-on-select="addUserToRoom($item)" class="form-control" />
                            </div>
                        </div>
                        <div class="tab-pane" id="details">
                            <form name="editRoomForm" ng-submit="updateRoom(editRoomForm.$valid, roomToEdit)" novalidate>
                                <div class="form-group" ng-class="{ 'has-error' : editRoomForm.name.$invalid && !editRoomForm.name.$pristine }">
                                    <label for="name">{{::'room.create.name' | translate}}</label>
                                    <input type="text" name="name" id="name" required="required" ng-model="roomToEdit.name" ng-minlength="1" ng-maxlength="50" class="form-control"/>
                                    <p ng-show="editRoomForm.name.$error.minlength" class="help-block">{{::'room.create.name.short' | translate}}</p>
                                    <p ng-show="editRoomForm.name.$error.maxlength" class="help-block">{{::'room.create.name.long' | translate}}</p>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : editRoomForm.description.$invalid && !editRoomForm.description.$pristine }">
                                    <label for="description">{{::'room.create.description' | translate}}</label>
                                    <textarea name="description" id="description" ng-model="roomToEdit.description" ng-maxlength="256" class="form-control" rows="5"></textarea>
                                    <p ng-show="editRoomForm.description.$error.maxlength" class="help-block">{{::'room.create.description.long' | translate}}.</p>
                                </div>

                                <button type="submit" class="btn btn-primary" ng-disabled="editRoomForm.$invalid">{{::'room.settings.details.save' | translate}}</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="onSettingsDialogClose()">{{::'room.settings.btn.close' | translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="users-autocomplete-tpl.html">
        <a href="javascript:void(0);">
            <span class="glyphicon glyphicon-user"></span>
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
</div>